[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Mapnik is an open source toolkit for developing mapping applications
[access "refs/*"]
	owner = group user/sergpank (sergpank)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sergpank (sergpank)
	label-Verified = -1..+1 group user/sergpank (sergpank)
	push = group user/sergpank (sergpank)
	read = group user/sergpank (sergpank)
	rebase = group user/sergpank (sergpank)
	removeReviewer = group user/sergpank (sergpank)
	submit = group user/sergpank (sergpank)
[access "refs/heads/*"]
	create = group user/sergpank (sergpank)
	push = +force group user/sergpank (sergpank)
	pushMerge = group user/sergpank (sergpank)
	read = group user/sergpank (sergpank)
[access "refs/tags/*"]
	push = group user/sergpank (sergpank)
	push = +force group user/sergpank (sergpank)
